<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" id="com.tkyarmarka.app" version="0.1.6">
  <name>Ярмарка</name>
  <description>Оптовая продажа детских товаров и продуктов питания</description>
  <author href="http://moxie-lab.ru" email="support@moxie-lab.ru">
        Moxie-Lab
  </author>
  <content src="index.html"/>
  <allow-navigation href="*"/>
  <allow-intent href="itms:*"/>
  <allow-intent href="itms-apps:*"/>
  <preference name="loglevel" value="DEBUG"/>
  <preference name="AndroidLaunchMode" value="singleTop"/>
  <preference name="ErrorUrl" value=""/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="AllowInlineMediaPlayback" value="false"/>
  <preference name="BackupWebStorage" value="cloud"/>
  <preference name="FadeSplashScreenDuration" value="250"/>
  <preference name="KeyboardDisplayRequiresUserAction" value="false"/>
  <preference name="MediaTypesRequiringUserActionForPlayback" value="false"/>
  <preference name="SuppressesIncrementalRendering" value="false"/>
  <preference name="TopActivityIndicator" value="gray"/>
  <preference name="GapBetweenPages" value="0"/>
  <preference name="PageLength" value="0"/>
  <preference name="PaginationBreakingMode" value="page"/>
  <preference name="PaginationMode" value="unpaginated"/>
  <feature name="LocalStorage">
    <param name="ios-package" value="CDVLocalStorage"/>
  </feature>
  <preference name="UIWebViewDecelerationSpeed" value="normal"/>
  <platform name="ios">
    <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
      <string>Мы используем доступ к камере, для сканирования штрихкода</string>
    </edit-config>
    <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
      <string>Мы используем ваше местоположение, чтобы предлагать вам наиболее релевантный ассортимент</string>
    </edit-config>
    <icon src="/res/ios/icon/icon.png" width="57" height="57"/>
    <icon src="/res/ios/icon/icon@2x.png" width="114" height="114"/>
    <icon src="/res/ios/icon/icon-72.png" width="72" height="72"/>
    <icon src="/res/ios/icon/icon-72@2x.png" width="144" height="144"/>
    <icon src="/res/ios/icon/icon-60.png" width="60" height="60"/>
    <icon src="/res/ios/icon/icon-60@2x.png" width="120" height="120"/>
    <icon src="/res/ios/icon/icon-60@3x.png" width="180" height="180"/>
    <icon src="/res/ios/icon/icon-76.png" width="76" height="76"/>
    <icon src="/res/ios/icon/icon-76@2x.png" width="152" height="152"/>
    <icon src="/res/ios/icon/icon-40.png" width="40" height="40"/>
    <icon src="/res/ios/icon/icon-40@2x.png" width="80" height="80"/>
    <icon src="/res/ios/icon/icon-20.png" width="20" height="20"/>
    <icon src="/res/ios/icon/icon-20@2x.png" width="40" height="40"/>
    <icon src="/res/ios/icon/icon-50.png" width="50" height="50"/>
    <icon src="/res/ios/icon/icon-50@2x.png" width="100" height="100"/>
    <icon src="/res/ios/icon/icon-small.png" width="29" height="29"/>
    <icon src="/res/ios/icon/icon-small@2x.png" width="58" height="58"/>
    <icon src="/res/ios/icon/icon-small@3x.png" width="87" height="87"/>
    <icon src="/res/ios/icon/icon-83.5@2x~ipad.png" width="167" height="167"/>
    <preference name="scheme" value="monaca-app"/>
    <preference name="hostname" value="localhost"/>
    <icon src="/res/ios/icon/icon-1024.png" width="1024" height="1024"/>
    <splash src="/res/ios/screen/Default@2x~universal~anyany.png"/>
    <config-file platform="ios" parent="CFBundleLocalizations" target="*-Info.plist">
      <array>
        <string>ru</string>
        <string>en</string>
      </array>
    </config-file>
  </platform>
  <platform name="android">
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
      <application android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round"/>
    </edit-config>
    <resource-file src="res/android/icons/mipmap-anydpi-v26/ic_launcher.xml" target="app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml"/>
    <resource-file src="res/android/icons/mipmap-hdpi/ic_launcher.png" target="app/src/main/res/mipmap-hdpi/ic_launcher.png"/>
    <resource-file src="res/android/icons/mipmap-mdpi/ic_launcher.png" target="app/src/main/res/mipmap-mdpi/ic_launcher.png"/>
    <resource-file src="res/android/icons/mipmap-xhdpi/ic_launcher.png" target="app/src/main/res/mipmap-xhdpi/ic_launcher.png"/>
    <resource-file src="res/android/icons/mipmap-xxhdpi/ic_launcher.png" target="app/src/main/res/mipmap-xxhdpi/ic_launcher.png"/>
    <resource-file src="res/android/icons/mipmap-xxxhdpi/ic_launcher.png" target="app/src/main/res/mipmap-xxxhdpi/ic_launcher.png"/>
    
	<icon background="@color/background" density="mdpi" foreground="res/android/icons/mipmap-mdpi/ic_launcher_foreground.png"/>
    <icon background="@color/background" density="hdpi" foreground="res/android/icons/mipmap-hdpi/ic_launcher_foreground.png"/>
    <icon background="@color/background" density="xhdpi" foreground="res/android/icons/mipmap-xhdpi/ic_launcher_foreground.png"/>
    <icon background="@color/background" density="xxhdpi" foreground="res/android/icons/mipmap-xxhdpi/ic_launcher_foreground.png"/>
    <icon background="@color/background" density="xxxhdpi" foreground="res/android/icons/mipmap-xxxhdpi/ic_launcher_foreground.png"/>
	
    <splash src="/res/android/screen/splash-port-ldpi.png" density="port-ldpi"/>
    <splash src="/res/android/screen/splash-port-mdpi.png" density="port-mdpi"/>
    <splash src="/res/android/screen/splash-port-hdpi.png" density="port-hdpi"/>
    <splash src="/res/android/screen/splash-port-xhdpi.png" density="port-xhdpi"/>
    <splash src="/res/android/screen/splash-port-xxhdpi.png" density="port-xxhdpi"/>
    <splash src="/res/android/screen/splash-port-xxxhdpi.png" density="port-xxxhdpi"/>
    <splash src="/res/android/screen/splash-mdpi.png" density="mdpi"/>
  </platform>

  <preference name="ios-XCBuildConfiguration-TARGETED_DEVICE_FAMILY" value="1,2"/>
  <preference name="WindowsStorePublisherName" value="My Name"/>
  <preference name="WindowsStoreIdentityName" value="c319fa15-5e04-8954-59d9-1c0f1debe59f"/>
  <preference name="SplashScreenBackgroundColor" value="#464646"/>
  <preference name="monaca:MonacaBackendUrl" value="https://cloud.monaca.mobi/json-rpc/"/>
  <preference name="monaca:MonacaBackendId" value="5ffdefede788851278be661a"/>
  <preference name="monaca:MonacaBackendApiKey" value="7873498cac9344181baeb6fd2234adc6a04747d90e2965045b751531ad387cce"/>
  <preference name="target-device" value="handset"/>
  <preference name="AutoHideSplashScreen" value="true"/>
  <preference name="FadeSplashScreen" value="true"/>
  <preference name="ShowSplashScreenSpinner" value="true"/>
  <preference name="EnableViewportScale" value="false"/>
  <access origin="*"/>
  <preference name="KeepRunning" value="true"/>
  <preference name="monaca:AndroidIsPackageNameSeparate" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="Orientation" value="default"/>
  <preference name="SplashScreenDelay" value="1000"/>
  <preference name="Fullscreen" value="false"/>
</widget>
